#maps {
    padding: 80px;
    height: max(100vh, auto);
    width: 100%;
    text-align: center;
}

.maps-title {
    padding-bottom: 50px;
}

.maps-text {
    text-align: center;
    padding: 0 40px;
}

.maps-image {
    width: 75%;
}

