*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stars, .twinkling, .clouds {
  position: absolute;
  display: block;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;  /* Double the height to facilitate infinite scrolling */
  background-repeat: repeat-y; /* Allow vertical repeating */
}

.stars {
  z-index: -3;
  background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
  animation: move-stars 3000s linear infinite; /* Continuous vertical movement */
}

.twinkling {
  z-index: -2;
  background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: -1;
  background: transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

/* Keyframes for star movement */
@keyframes move-stars {
  from { background-position: 0 0; }
  to { background-position: 0 100%; } /* Scrolls vertically */
}

/* Keyframes for twinkling effect */
@keyframes move-twink-back {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

/* Keyframes for cloud movement */
@keyframes move-clouds-back {
  from { background-position: 0 0; }
  to { background-position: 10000px 0; }
}