#methods {
    padding: 80px;
    height: max(100vh, auto);
    width: 100%;
}

.methods-content {
    display: flex;
    align-items: center;
}

.methods-title {
    padding-bottom: 50px;
}

.methods-images {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.methods-image {
    width: 200px;
    height: 200px; 
    margin: 20px;
    border-radius: 50%;
}

.methods-text {
    width: 50%;
    transform: translateY(-80px);
}

.methods-list {
    ul {
        list-style: none;
        padding: 0;
        display: inline;
        position: relative;
        margin-right: 50px;

        li {

            margin: 0 15px;
            text-decoration: none;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: red;
                }
            }
        }
    }
}