.method-description {
    display: flex;
    justify-content:space-evenly;
    height: 100vh;
    margin-bottom: 40px;
}

.methods-content {
    margin-bottom: 250px;
}

.left-side {
    width: 45%;
    // border-radius: 20px;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.method-description-image {
    width: 100%;
    border: white 1px solid;

}